<!-- FOOTER ESADCAN -->
<footer class="bg-dark text-light pt-5 pb-4">
  <div class="container text-md-left">
    <div class="row text-md-left">

      <!-- Logo y frase -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-start">
        <img src="/images/logesadcan.png" alt="Logo ESADCAN" width="80" height="80" class="mb-2" />
        <h5 class="text-uppercase fw-bold titulo-esadcan mb-3" style="color: #F6995C;"><i class="fas fa-paw"></i>ESADCAN</h5>
        <p>
          Escuela de Adiestramiento Canino.<br />
          Conectando familias con sus mejores amigos, un ladrido a la vez.
        </p>
      </div>

      <!-- Contacto -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold titulo-esadcan">Contáctanos</h5>
        <p><i class="fas fa-home me-3"></i> Km 24 Vía a la Costa, Guayaquil, Ecuador</p>
        <p><i class="fas fa-clock"></i> Martes a Jueves: 10:00 AM - 4:00 PM<br>Sábado de 8:00 a 12:00 PM</p>
        <p><i class="fab fa-whatsapp"></i> +593 96 369 9186</p>
      </div>

      <!-- Redes sociales -->
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold titulo-esadcan">Redes Sociales</h5>
        <a href="https://www.facebook.com/esadcangye/" target="_blank" class="btn btn-outline-light btn-floating m-1">
          <i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/esadcan_gye/" target="_blank" class="btn btn-outline-light btn-floating m-1">
          <i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/593963699186" target="_blank" class="btn btn-outline-light btn-floating m-1">
          <i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <hr class="mb-4">

    <!-- Créditos -->
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2025 ESADCAN. Todos los derechos reservados.
          <strong>Hecho por DesignMA</strong>
        </p>
      </div>
    </div>
  </div>
</footer>
